*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin-top: 20px;
}
.title-home{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 10px;
}
.title-menu{
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.title-menu a{
    color: black;
    text-decoration: none;
    flex-basis: 150px;
}

.title-home div{
    visibility: hidden;
    text-decoration: none;
    color: black;
    cursor:pointer ;
    width: 32px;
    height: auto;
}

.title-menu-side {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
}
  
.title-menu-side a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
}
  
.title-menu-side .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.title-menu-icon div{
    display: none;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
}

.title-cover-image{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-cover-image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
button{
    background-color: transparent;
    padding: 10px 35px;
    text-align: center;
    font-size: 16px;   
    border: 2px solid black;   
    cursor: pointer;
}
.title-tshirts{
    display: flex;
}

@media only screen and (max-width: 767px) {
    .title-menu-icon{
        visibility: unset;
    }
    .title-menu{
        display: none;
    }   
    .title-menu-side{
        display: block;
    }
    .title-cover-image img{
        max-height: 200px;
    }
    /* this property changes the men-outerwear.html to align two hoodies in a row */
    .men-outerware-items{
        display: grid;
        grid-template-columns:auto auto;
    }
    #cover-image-outerwear{
        display: none;
    }

     /* This property make sthe description page for mobile version to avoid flexing */
     .item-description{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        margin-top: 50px;  
        margin-bottom: 70px;   
    }
   /* This property makes the button in description page for mobile version to be fixed at bottom */
    #item-add-to-cart {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border: none;
        color: white;
        background-color: #000066;
        height: 60px;
    }
    /* hide cart item details to display them on below line in mobile view */
    .cart-item-details{
        display: none;
    }
    .cart-item-total-price-checkout{
        right:0px;
    }
    /* to make the checkout page responsive for mobile version */
    .checkout-form{
        grid-template-columns: 1fr;
    }
}
body{
    margin: 0px;
}
/* style for men-outerwear.html */
@media only screen and (min-width: 768px) {
    .men-outerware-items{
        display: grid;
        grid-template-columns: auto auto auto;
    }
/* This property make sthe description page for desktop version to avoid flexing */
    .item-description{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 50px;
    }
    .checkout-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5%;
    }
    .cart-content{
        margin:5% 15%;
    }
}

.men-outerware-items a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
.men-outerware-item > *{
    padding: 5px;
}
.men-outerware-item span{
    opacity: 0.7;
    font-size: 0.9em;
}
.men-outerware-item img{
    /* align-self: center; */
    max-width: 100%;
}
 .men-outerware-page{
    box-sizing: border-box;
    width: 100%;
}
.men-outerware-item{
    padding: 5px;
}
/* Item Description page styling */
.title-back-arrow-icon img{
    resize: auto;
    height: 20px;
    width: auto;
    cursor: pointer;
}
.item-description-details header{
    opacity: 1;
}
.item-description-image img{
    resize: both;
    max-width: 100%;
    height: auto;
}
.item-description-image{
    justify-self: center;
}
.item-description-details-text{
    padding: 20px;
    opacity: 0.7;
    font-size: 0.9em;
    line-height: 1.5em;
}
.item-description-dropdown div{
    border-bottom:1px solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}
.item-description-dropdown-size{
    border-top: 1px solid rgba(0,0,0,0.5);
}
.item-description-dropdown label{
    position: absolute;
    opacity: 0.7;
    font-size:0.9em;
}
select option{
    padding-left: 25%;
}
.item-description-dropdown select{
    background: transparent;
    border: none;
    height: 50px;
    width:100%;
    outline: none;
    z-index: 1;
    text-indent: 20%;
    font-size: 1.2em;
    font-weight: 300;
}
/* select:focus{
    outline-offset: -2px;
} */

/* style for cart page */
.cart-title{
    text-align: center;
    font-size: 1.1em;
}
.cart-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-items, .cart-item-total-price{
    margin: 5%;
}
.cart-item-name img{
    max-width: 15%;
    height: auto;
    object-fit: contain;
    resize: both;
    max-width: 70px;
}
.cart-item-name{
    display: flex;
    align-items: center;
}
/* display: flex;
justify-content: space-between;
align-items: center; */
.cart-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item-details select{
    background-color: transparent;
    border: none;
    outline: none;
}
.cart-item-total-price{
    display: flex;
    justify-content: flex-end;
}
/* .cart-item-total-price *{
    padding-left: 30px;
} */
.cart-item-details{
    display: flex;
    align-items: baseline;
}
.cart-item-details *{
    margin-right: 5%;
}
/* .item-checkout-button{
    padding-left: 5%;
} */
.cart-item-total-price-checkout{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 5%;
}
.cart-item-total-price-checkout span{
    padding-left: 15%;
}

.cart-content section{
    font-size: 1em;
}
.cart-item-details label,span{
    opacity: 0.7;
}
.cart-item-details select{
    font-size: 1.2em;
} 
/* Style for checkout page*/
.checkout-content{
    margin: 5% 10%;
    padding-bottom: 10%;
}
.checkout-content input:not([type="checkbox"]),select{
    width: 100%;
    border: transparent;
    outline: none;
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: transparent;
    display: block;
    margin-bottom: 5%;
}
.checkout-content input::-webkit-input-placeholder {
    font-size: 1.35em;
}
.checkout-content label{
    font-size: 0.8em;
}
.checkout-title{
    text-align: center;
}
.checkout-title{
    font-size: 1.3em;
    font-weight: 100;
}
.checkout-title p{
    font-size: 0.6em;
    opacity: 0.7;
}
.checkout-checkbox{
    display: flex;
    align-items: center;
}

.checkout-state-zip-flex{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.checkout-total, .checkout-order-summary, .checkout-form-expiry-date{
    display: flex;
    align-items: baseline;
    justify-content: space-between;  
}

